@import '../styles/styles.placeholders.scss';

.container {
  // @extend %full_width_height;
  // border: 1px solid red;
  height: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
