@import '../../styles/styles.colors.scss';

.page {
  background-color: $white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);

  .page__title {
    grid-column: 1/2;
    grid-row: 1/3;

    h2 {
      font-size: 5rem;
      color: $blue;
      float: right;
      margin-top: 30rem;
    }
  }

  p {
    font-size: 2rem;
    color: $blue;
    float: right;
  }

  button {
    color: $blue;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    width: 12rem;
    border: 2px solid $blue;

  }
}
