@import '../../styles/styles.colors.scss';

.page {
  background-color: $white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);

  .page__title {
    grid-column: 1/2;
    grid-row: 1/3;

    h2 {
      font-size: 5rem;
      color: $blue;
      float: right;
      margin-top: 20rem;
    }
  }

  .qna {
    grid-column: 1/3;
    // height: 5rem;
    // padding: 5rem;

    .questions {
      grid-column: 1/2;
      line-height: 10px;

      p {
        font-size: 2rem;
        color: $blue;
        font-weight: 500;
        float: left;
        padding-left: 30rem;
      }
    }

    .answers {

      button {
        color: $blue;
        font-size: 1.4rem;
        font-weight: 500;
        height: 4rem;
        width: 12rem;
        border: 2px solid $blue;
        margin-right: 10rem;
        float: right;
        border-radius: 0px;
        background-color: white;
      }

      button:focus {
        background-color: $blue;
        color: white;
      }
    }
  }
}
